div.navbar-container {
    height: fit-content;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 2vmin;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(4px);
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul.navbar-dz {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul.navbar-dz > li.navbar-dz {
    list-style-type: none;
    display: inline-block;
    margin: 0 2vmin;
    text-align: center;
    color: rgb(75, 75, 75);
    font-size: calc(10px + 1vmin);
    padding: 2vmin 4vmin;
    border-radius: 100px;
}

li.navbar-dz:hover {
    background-color: rgb(53, 49, 80);
}

a.navbar-dz,
a.navbar-dz:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-dz {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
